# sudo cp plasma.service /lib/systemd/system/
# sudo systemctl enable plasma.service
# sudo systemctl start plasma.service
[Unit]
Description=Play plasma effect on a WS2812B RGB LED strip
After=network-online.target

[Service]
Nice=-20
ExecStart=/home/pi/LED-toys/plasma.py

[Install]
WantedBy=multi-user.target
