# sudo ln -rs plasma.service /lib/systemd/system/
# sudo systemctl enable plasma.service
# sudo systemctl start plasma.service
[Unit]
Description=Play plasma effect on a WS2812B RGB LED strip
After=multi-user.target

[Service]
Nice=-19
EnvironmentFile=/home/pi/LED-toys/.env
ExecStart=/home/pi/LED-toys/plasma.py --brightness=42 --leds=127

[Install]
WantedBy=multi-user.target
